@use '../../scss/variables' as *;
@use '../../scss/typography' as *;
@use '../../scss/utilities' as *;

.search-block {
  background-color: getColor('bg2');
  @include round();
  padding: 0.5em;
  flex-grow: 1;
  flex-basis: 34%;
  &--letter {
    flex-basis: 68%;
  }
  &__list-header {
    display: flex;
  }
  .items-list ul {
    list-style: none;
    margin: 0;
    padding-left: 1em;
    column-count: auto;
    column-width: 16em;
    li.expanded {
      column-span: all;
    }
  }
}
