@use '../../scss/variables' as *;
@use '../../scss/typography' as *;
@use '../../scss/utilities' as *;

.hero {
  display: flex;
  flex-flow: row wrap;
  &__text-content {
    flex: 1 0 21em;
  }
  &__title {
    @extend .heading1;
    text-transform: capitalize;
    margin-bottom: 0.5em;
  }
  &__text {
    @extend .paragraph3;
    margin-top: 0.25em;
    margin-bottom: 3.5em;
  }
  &__link {
    @include resetLinkStyle(getColor('primary'));
  }
  &__button.btn {
    @include fontParams(20px, auto, 0.5px, 'semibold');
    text-transform: capitalize;
    padding: 1.5em 2em;
  }
  &__illustration {
    max-height: 640px;
    flex: 1 1;
    display: flex;
    justify-content: center;
  }
  &__picture {
    height: 100%;
  }
}

.list-header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: start;
  &__title {
    @extend .heading2;
    text-transform: capitalize;
    margin-top: 0;
    margin-bottom: 0.25em;
  }
  &__subtitle {
    @extend .paragraph1;
  }
  &__button.btn {
    @extend .butonFont1;
    padding: 1em 2em;
  }
}

.about-section {
  font-size: 20px; //on container for relative em
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  padding-top: var(--pad);
  padding-bottom: var(--pad);
  background-color: getColor('bg2');
  background-image: url('../../assets/about_img_1.png');
  background-size: cover;
  --pad: 8px;
  @media (min-width: $sizeBreakpointSm) {
    --pad: 16px;
  }
  @media (min-width: $sizeBreakpointMd) {
    --pad: 32px;
  }
  @media (min-width: $sizeBreakpointLg) {
    --pad: 48px;
  }
  @media (min-width: $sizeBreakpointXl) {
    --pad: 64px;
  }
  &__card {
    margin: 1em 1.5em 2.5em 1.5em;
    width: fit-content;
    @include round();
    background-color: getColor('bg');
    padding: 2em 2.25em;
    box-shadow: 0 4px 16px 0 #0004;
  }
  &__title {
    @extend .heading2;
    text-transform: capitalize;
    margin-top: 0.25em;
    margin-bottom: 0.625em;
  }
  &__text {
    max-width: 25em;
    margin-bottom: 1.75em;
    @include fontParams(20px, 1.5, 0, 'regular');
  }
  &__button.btn {
    text-transform: capitalize;
    line-height: 1;
    padding: 1em 2em;
  }
}
