@use '../../scss/variables' as *;
@use '../../scss/typography' as *;
@use '../../scss/utilities' as *;

.footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding-top: 2em;
  &__block--logo {
    flex: 0 0 100%;
  }
  .sitemap {
    // flex: 1 0 31%;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }
    &__group-title {
      @extend .subHeading1;
    }
    &__link {
      @extend .subHeading2;
      @include resetLinkStyle();
      padding: 0.5em 0;
      &:hover {
        color: getColor('secondary');
      }
    }
    & > ul {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      gap: 2em;
    }
  }
}
