// @import '~@fontsource/inter';
// @use '~@fontsource/inter';
// @import url('https://fonts.googleapis.com/css?family=Inter');
@use 'sass:map';

$fontWeights: (
  light: 300,
  regular: 400,
  medium: 500,
  semibold: 600,
  bold: 700,
);

@mixin fontWeight($keyword) {
  font-weight: map.get($fontWeights, $keyword);
}

@mixin fontParams($fontSize, $lineHeight: normal, $spacing: null, $weight: null) {
  $w: map.get($fontWeights, $weight);
  @if $w == null {
    $w: $weight;
  }
  font-weight: $w; //If a property value is null, that property is omitted entirely.
  font-size: $fontSize;
  line-height: $lineHeight;
  letter-spacing: $spacing;
}

.mainFontFamily {
  font-family: inter, sans-serif;
}

.heading1 {
  @include fontParams(64px, 80px, 0, 'bold');
}
.heading2 {
  @include fontParams(46px, normal, -0.017em, 'semibold');
}
.heading3 {
  @include fontParams(32px, normal, 0, 'semibold');
}
.subHeading1 {
  @include fontParams(24px, normal, 0, 'semibold');
}
.subHeading2 {
  @include fontParams(16px, normal, 0, 'medium');
}
.butonFont1 {
  @include fontParams(20px, normal, 0.5px, 'semibold');
}
.paragraph1 {
  @include fontParams(24px, normal, 0, 'light');
}
.paragraph2 {
  @include fontParams(20px, normal, 0, 'medium');
}
.paragraph3 {
  @include fontParams(16px, 24px, 0, 'light');
}
