@use 'variables' as *;

@mixin resetLinkStyle($foregroundColor: inherit) {
  text-decoration: none;
  color: $foregroundColor;
  & a {
    text-decoration: none;
    color: $foregroundColor;
  }
}

@mixin round($radius: $radius) {
  border-radius: $radius;
}

.hidden {
  display: none;
}

@mixin controlFloatWidth($minInline, $minFloat, $maxFloat: 100%) {
  min-width: $minFloat;
  max-width: min($maxFloat, calc(100% - clamp(0px, round(down, calc(100% - $minFloat), $minInline), $minInline)));
}
