@use 'variables' as *;
@use 'typography' as *;
@use 'layout' as *;

@use '../components/itemBlock/itemBlock.scss' as *;

body {
  margin: 0;
  @extend .mainFontFamily;
  background-color: getColor('bg');
  color: getColor('fg');
  * {
    box-sizing: border-box;
  }
}
